{% extends 'base.html' %}
{% block head %}
	{{super()}}
{% endblock %}
{% block scripts %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/static/css/segment.css">
	<link rel="stylesheet" type="text/css" href="/static/css/home.css">
	<script type="text/javascript" src="/static/js/src/services/posts_rest_api.js"></script>
	<script type="text/javascript" src="/static/js/src/models/post_model.js"></script>
	<script type="text/javascript" src="/static/js/src/controllers/home_page_controller.js"></script>
	<script type="text/javascript" src="/static/js/src/directives/post/post_directive.js"></script>
	<script type="text/javascript" src="/static/js/src/directives/pagination/pagination_directive.js"></script>
	<script type="text/javascript" src="/static/js/src/directives/loaders/loader_directive.js"></script>
	<script type="text/javascript" src="/static/js/src/filters/filters.js"></script>
{% endblock %}
	{% block header %}
		{{ super() }}
	{% endblock %}
	{% block main %}
	<div ng-controller="homePageCtrl" ng-cloak>
		<loader ng-show="isLoading"></loader>
		<div ng-show="!isLoading">
			<ul ng-repeat="post in model.posts track by $index | orderBy:post.date | filter:search">
                <li>
				    <post post-options="post" selected-post="data"></post>
                </li>
			</ul>
		</div>
		<div ng-show="!hasPosts()" class="ops">
			<h3>Ops! Nenhum post foi encontrado</h3>
			<img src="/static/img/sad.png"> 
		</div>
		<div class="six wide column">
	    	<div class="ui segment">
	    		<label>Filtrar</label>
	    		<input class="form-control" ng-model="search" placeholder="nome, autor ou qualquer outra palavra">
	    	</div>
	  	</div>
	 	<pagination ng-show="!isLoading && showPagination" options="pagination_options"></pagination>
	 </div>
	{% endblock %}
	
	</body>
</html>
