{% extends 'base.html' %}
{% block head %}
	{{super()}}
{% endblock %}
{% block scripts %}
	{{ super() }}
{% endblock %}
	{% block header %}
        <link rel="stylesheet" href="/static/css/login.css">
        <script type="text/javascript" src="/static/js/src/controllers/signin_controller.js"></script>
	{% endblock %}
	{% block main %}
          <div ng-controller="signInUpCtrl" class="wrapper">
              <!-- sign in -->
              <div ng-class="classSignIn">
                <form class="form-signin" method="post" action="/login">
                  <h2 class="form-signin-heading">Entrar</h2>
                  <input type="text" class="form-control" name="username" placeholder="Email" required="" autofocus="" />
                  <input type="password" class="form-control" name="password" placeholder="Senha" required=""/>
                  <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
                   <div class="sign-up">Ainda não possui uma conta?
                        <a  href="#" ng-click="showSignUpScreen()">cadastre-se</a>
                   </div>

                </form>
              </div> <!-- sign in end -->
              <form ng-class="classSignUp" method="post" action="/signup"> <!-- sign up -->
                  <fieldset>
                    <legend>Criar uma conta</legend>
                    <div class="form-group">
                      <label for="inputName" class="col-lg-2 control-label">Nome</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Nome" name="name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-lg-2 control-label">Senha</label>
                      <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha" name="password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Gênero</label>
                      <div class="col-lg-10">
                        <div class="radio">
                          <label>
                            <p><input type="checkbox" id="male" name="male"><label for="male">
                                <span class="ui"></span>Masculino</label>
                            </p>
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <p><input type="checkbox" id="female" name="female"><label for="female">
                                <span class="ui"></span>Feminino</label>
                            </p>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                      </div>
                    </div>
                  </fieldset>
                </form> <!-- sign up end -->
              </div>
	{% endblock %}
	</body>
</html>