{% extends 'base.html' %}
{% block head %}
  {{super()}}
{% endblock %}
{% block scripts %}
  {{ super() }}
	<link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/segment.css">
    <link rel="stylesheet" href="/static/css/downloads.css">
	<script type="text/javascript" src="/static/js/src/services/content_rest_api.js"></script>
	<script type="text/javascript" src="/static/js/src/controllers/downloads_controller.js"></script>
{% endblock %}
{% block header %}
	{{super()}}
{% endblock %}
{% block main %}
	<div ng-controller="downloadsCtrl">
    	<div class="ui stacked segment downloads-segment" ng-bind-html-unsafe="content"></div>
    </div>
{% endblock %}
	</body>
</html>p