
.header-image{
   margin-left: 400px;
   margin-bottom: 10px;
   height: 150px;
}
.navbar.navbar-default{
	margin-bottom: 25px !important;
}
.right{
	float: right;
}
.left{
	float: left !important;
	margin-right: 14px;
}
body{
    background-image: url('/static/img/dust.png');
}

.container-fluid{
    background-color: #333333;
}
.navbar-form.navbar-right a{
    color: white;
}

.panel.panel-default {
    width: 95%;
}
.panel-heading{
    background-color: #333333 !important;
}

.panel-title{
    color: white;
}
.panel-title.right{
    margin-top: -14px !important;
}
.panel-body{
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: gray;
}
ul {
    list-style-type: none;
}