.list-inline{
	position: absolute;
	bottom: -108px;
}
.row{
	margin-bottom: -43px;
}

.title{
	position: absolute;
	top: -8px;
	left: 156px;
}
.content{
	position: absolute;
	margin-left: 140px;
	top: 64px;
}
.content button{
	margin-top: 21px;
	margin-left: -3px;
}
