.title{
	float: left;
	margin-top: -125px;
	margin-left: 129px;
}
.content{
	float: left;
	margin-top: -56px;
	margin-left: 129px;
}
.post-date{
	position: absolute;
	top: 260px;
	margin-left: 449px;
}
.link{
	color: #18bc9c;
}