.title{
	float: left;
	margin-top: -125px;
	margin-left: 129px;
}
.content{
	float: left;
	margin-top: -56px;
	margin-left: 129px;
}
.post-date{
	position: absolute;
	top: 260px;
	margin-left: 449px;
}
.post-date p{
	float: right;
	margin-right: -87px;
	margin-top: -20px;
}
.link{
	color: #18bc9c;
}
.six.wide.column{
	float: right;
	position: absolute;
	top: 249px;
	right: 16px;
	width: 380px;
}
.input-group{
	float: right;
	width: 290px;
}
.categories-label{
	margin-top: 16px;
	margin-bottom: 9px;
}

#pygame, #pysdl, #pyj2d{
	color: white;
	background-color:#2c3e50;
}

#pygame span, #pysdl span, #pyj2d span{
	background-color:white;
	color: #18bc9c;
}
.pagination > li > a{
	background-color: #2c3e50 !important;
}
.pagination > li > a:hover{
	background-color: #18bc9c !important;
}
.pagination.pagination-md{
	margin-left: 37%;
}