
.header-image{
   margin-left: 400px;
   margin-bottom: 10px;
   height: 150px;
   margin-top: -45px !important;
}
.navbar.navbar-default{
	margin-bottom: 25px !important;
}
.right{
	float: right;
}
.left{
	float: left !important;
	margin-right: 14px;
}
body{
    background-image: url('/static/img/dust.png');
}

.container-fluid{
    background-color: #333333;
}
.navbar-form.navbar-right{
  margin-top: 18px !important;  
}
.navbar-form.navbar-right a{
    color: white;
}
.navbar-form.navbar-right a:hover{
    color: #18bc9c;
}

.panel.panel-default {
    width: 95%;
}
.panel-heading{
    background-color: #333333 !important;
}

.panel-title{
    color: white;
}
.panel-title.right{
    margin-top: -14px !important;
}
.panel-body{
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: gray;
}
ul {
    list-style-type: none;
}


.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#ededed;
}


#masthead {
  min-height:199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

.container{
  margin-left: -40px;
  width: 1000px;
}

.container.disqus{
  width: 1030px;
  margin-top: -79px;
  margin-left: -55px;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

/* loader */

.spinner {
  margin: 100px auto;
  width: 35px;
  height: 35px;
  left: -165px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}