{% block head %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pygame Brasil</title>
{% endblock %}
{% block scripts %}
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap_fonts.min.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/static/js/lib/ng-ckeditor.min.js"></script>
        <script type="text/javascript" src="/static/js/src/app.js"></script>
{% endblock %}
    </head>
    <body ng-app="app">
{% block header %}
    <img class="header-image" src="/static/img/pygame_logo.gif">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
                <a href="/">
                    Home
                    <!-- <span class="glyphicon glyphicon-home"></span> -->
                </a>
            </li>
            <li>
                <a href="downloads">
                    Downloads
                    <!-- <span class="glyphicon glyphicon-download-alt"></span> -->
                </a>
            </li>
            <li>
                <a href="docs">
                    Documentação
                    <!-- <span class="glyphicon glyphicon-book"></span> -->
                </a>
            </li>
            <li>
                <a href="forum">
                    Forúm
                    <!-- <span class="glyphicon glyphicon-comment"></span> -->
                </a>
            </li>
            <li>
                <a href="projetos">
                    Projetos
                </a>
            </li>
          </ul>
          <div class="navbar-form navbar-right" role="search">
          {# TODO: consertar
          {% if not values.user.is_active() %}
            <a href="/login">Entrar</a>
          {% else %}
            <a href="/logout">Sair</a>
          {% endif %}
              #}
          </div>

        </div>
      </div>
    </nav> 
{% endblock %}

{% block main %}
{% endblock %}
    </body>
</html>